.CompanyCard{
  margin: 15px auto;
  color:black;
  text-align: left;
  padding:20px;
}
.CompanyCard:hover{
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.CompanyCard-name{
  /* margin-bottom: 35px; */
  font-weight: bold;
}
.CompanyCard-image{
  width:50px;
  height:50px;
  float:right;
}